<div>
  <div class="card center" style="width: 30%;">
    <div class="card-body">
      <h5 class="card-title">Instacomplex</h5>
      <h6 class="card-subtitle mb-2 text-muted">Login With OTP+4 digit PIN</h6>
      <div class="input-group mb3">
        <input
          class="form-control"
          type="text"
          placeholder="Enter Email address"
          [formControl]="Email"
        />
        <button
          class="btn btn-success"
          type="button"
          style="margin-left:10px;"
          (click)="SendOTP()"
          [disabled]="Email.errors"
        >
          Send OTP
        </button>
      </div>
      <input
        class="form-control"
        type="text"
        style="margin-top:10px"
        [formControl]="OTP"
        placeholder="Enter OTP+4 digit PIN"
      />
      <button class="btn btn-primary" style="margin-top:10px" (click)="SubmitOTP()">Submit</button>
    </div>
  </div>
</div>
