<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/complex" routerLinkActive="active"
    >InstaComplex.in
  </a>
  <h3>{{ Shopname }}</h3>
  <!-- <button
    class="btn btn-success"
    *ngIf="!(check() | async)"
    (click)="GoogleSignIn()"
  >
    SignIn
  </button>
  <button (click)="test()">test</button>
  <div *ngIf="socialAuthService.authState | async as socialUser">
    <img
      [src]="socialUser.photoUrl"
      class="img-responsive rounded-circle"
      style="width:20%"
    />
    &nbsp;
   
  </div> -->
  <!-- <button class="btn btn-danger" (click)="logout()">Logout</button> -->
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <button
    class="btn btn-secondary ms-3"
    routerLink="/checkStatus"
    routerLinkActive="active"
  >
    Check Status
  </button>
  <button
    *ngIf="showlogin"
    class="btn btn-success ms-3"
    routerLink="/login"
    routerLinkActive="active"
  >
    Login
  </button>
  <button
    *ngIf="showlogout"
    class="btn btn-outline-light"
    routerLinkActive="active"
    (click)="todashboard('admin/')"
  >
    Admin dashboard
  </button>
  <button
    *ngIf="showlogout"
    class="btn btn-outline-light"
    routerLinkActive="active"
    (click)="todashboard('UpdateShop/')"
  >
    Update Shop
  </button>
  <button
    *ngIf="showlogout"
    class="btn btn-danger"
    routerLinkActive="active"
    (click)="logout()"
  >
    Logout
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
