<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" (click)="f()" style=" position: -webkit-sticky; position: sticky; top:0; z-index:9;">Cart <i class="fa fa-shopping-cart"></i></button>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <h3 style="padding:1rem">Cart</h3>
      <div class="container">
        <div>
          <table class="table table-striped border" style="text-align:center">
            <thead>
              <tr>
                <th>Si no</th>
                <th>Product name</th>
                <th>Product Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of keys; let i=index">
                <td>{{i+1}}</td>
                <td>{{key['productName']}}</td>
                <td>{{key['productColor']}}</td>
                <td>{{key['price']|price:'size'}}</td>
                <td>{{key['price']|price}}</td>
                <td>x{{key['count']}}</td>
              </tr>
              <tr colspan="3">
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h3>Total</h3>
                </td>
                <td>
                </td>
                <td>
                  <h3>RS.{{total}}</h3>
                </td>
              </tr>
            </tbody>
          </table>
          <h3 *ngIf="keys.length==0">The cart is empty</h3>
          <div class="btn btn-primary" *ngIf="keys.length>0 && orderId==''" style="margin-bottom:2rem"
            (click)="placeOrder()"> Place
            Order <i
            class="fas fa-angle-double-right"></i>
          </div>
        </div>
        <div style="padding-bottom:1rem" *ngIf="orderId">
          <i class="fas fa-clipboard" style="font-size:2rem; text-align:right" (click)=" copyInputMessage(OrderId)" ></i>
          <textarea class="form-control" style="font-size:2rem;text-align:center;height:3rem;resize:none" readonly #OrderId>{{orderId}}</textarea>
        </div>
      </div>

    </div>
  </div>
</div>