<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="f()" style=" position: -webkit-sticky; position: sticky; top:0;">Cart</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h3>Cart</h3>
      <div class="container">
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Si no</th>
                <th>Product name</th>
                <th>Product Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of keys; let i=index">
                <td>{{i+1}}</td>
                <td>{{key['productName']}}</td>
                <td>{{key['productColor']}}</td>
                <td>{{key['price']|price:'size'}}</td>
                <td>{{key['price']|price}}</td>
                <td>x{{key['count']}}</td>
              </tr>
            </tbody>
          </table>
          <h3 *ngIf="keys.length==0">The cart is empty</h3>
        </div>
      </div>

    </div>
  </div>
</div>