<div class="container pt-3">
<div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Order ID" aria-label="Recipient's username" [(ngModel)]="orderId"  aria-describedby="basic-addon2">
<div class="input-group-append">
  <button class="btn btn-primary" type="button" (click)="getOrderStatus()" [disabled]="Loading">Check the status</button>
</div>
</div>
  <h2 *ngIf="Loading">Loading...</h2>
  <h1 *ngIf="orderStatus['msg']">
    No such order placed, please check your Order ID
  </h1>
  <div *ngIf="orderStatus['data']">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Order ID</th>
          <td>{{orderId}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{orderStatus.data.status}}</td>
        </tr>
        <tr>
          <th>Shop Name</th>
          <td>{{orderStatus.data.shopOwnerInstaId}}</td>
        </tr>
        <tr>
          <th>Grand Total</th>
          <td>RS.{{orderStatus.data.total}}</td>
        </tr>
        <tr>
          <th>Ordered Date</th>
          <td>{{orderStatus.data.orderedDate}}</td>
        </tr>

      </thead>


    </table>
  </div>
</div>
